body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  #input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  #post-content {
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  #news-feed {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .post {
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 10px;
  }
  
 